<a href="https://colab.research.google.com/github/TahimaKhatun/Dp/blob/master/Weather_data_analysis_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("/weatherHistory.csv")
df

                      Formatted Date  ...                           Daily Summary
0      2006-04-01 00:00:00.000 +0200  ...       Partly cloudy throughout the day.
1      2006-04-01 01:00:00.000 +0200  ...       Partly cloudy throughout the day.
2      2006-04-01 02:00:00.000 +0200  ...       Partly cloudy throughout the day.
3      2006-04-01 03:00:00.000 +0200  ...       Partly cloudy throughout the day.
4      2006-04-01 04:00:00.000 +0200  ...       Partly cloudy throughout the day.
...                              ...  ...                                     ...
96448  2016-09-09 19:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96449  2016-09-09 20:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96450  2016-09-09 21:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96451  2016-09-09 22:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96452  2016-09-09 23:00:00.000 +0200  ...  Partly cloudy starting in the morning.

[96453 rows x 12 columns]

In [2]:
df.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [3]:
df.tail()

                      Formatted Date  ...                           Daily Summary
96448  2016-09-09 19:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96449  2016-09-09 20:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96450  2016-09-09 21:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96451  2016-09-09 22:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96452  2016-09-09 23:00:00.000 +0200  ...  Partly cloudy starting in the morning.

[5 rows x 12 columns]

In [5]:
df.shape

(96453, 12)

In [6]:
df.size

1157436

In [7]:
df.ndim

2

In [8]:
df.index

RangeIndex(start=0, stop=96453, step=1)

In [9]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [10]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

In [16]:
df[['Wind Speed (km/h)', 'Summary', 'Formatted Date']].dtypes

Wind Speed (km/h)    float64
Summary               object
Formatted Date        object
dtype: object

In [18]:
df['Wind Speed (km/h)'].unique()

array([14.1197, 14.2646,  3.9284, ..., 37.0622, 35.5971, 30.751 ])

In [19]:
df.nunique()

Formatted Date              96429
Summary                        27
Precip Type                     2
Temperature (C)              7574
Apparent Temperature (C)     8984
Humidity                       90
Wind Speed (km/h)            2484
Wind Bearing (degrees)        360
Visibility (km)               949
Loud Cover                      1
Pressure (millibars)         4979
Daily Summary                 214
dtype: int64

In [20]:
df.count()

Formatted Date              96453
Summary                     96453
Precip Type                 95936
Temperature (C)             96453
Apparent Temperature (C)    96453
Humidity                    96453
Wind Speed (km/h)           96453
Wind Bearing (degrees)      96453
Visibility (km)             96453
Loud Cover                  96453
Pressure (millibars)        96453
Daily Summary               96453
dtype: int64

In [21]:
df['Wind Speed (km/h)'].count()

96453

In [24]:
df['Daily Summary'].value_counts()

Mostly cloudy throughout the day.                                                                                      20085
Partly cloudy throughout the day.                                                                                       9981
Partly cloudy until night.                                                                                              6169
Partly cloudy starting in the morning.                                                                                  5184
Foggy in the morning.                                                                                                   4201
                                                                                                                       ...
Mostly cloudy throughout the day and breezy starting in the evening continuing until night.                               24
Windy in the afternoon.                                                                                                   24
Mostly cloudy until night and breezy starting in the morning continuing until afternoon.                                  24
Breezy starting overnight continuing until afternoon and mostly cloudy starting overnight continuing until evening.       24
Foggy starting overnight continuing until morning and breezy in the afternoon.                                            23
Name: Daily Summary, Length: 214, dtype: int64

In [26]:
df.isnull()

       Formatted Date  Summary  ...  Pressure (millibars)  Daily Summary
0               False    False  ...                 False          False
1               False    False  ...                 False          False
2               False    False  ...                 False          False
3               False    False  ...                 False          False
4               False    False  ...                 False          False
...               ...      ...  ...                   ...            ...
96448           False    False  ...                 False          False
96449           False    False  ...                 False          False
96450           False    False  ...                 False          False
96451           False    False  ...                 False          False
96452           False    False  ...                 False          False

[96453 rows x 12 columns]

In [27]:
df.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [28]:
df.isnull().sum().sum()

517

In [29]:
df.notnull()

       Formatted Date  Summary  ...  Pressure (millibars)  Daily Summary
0                True     True  ...                  True           True
1                True     True  ...                  True           True
2                True     True  ...                  True           True
3                True     True  ...                  True           True
4                True     True  ...                  True           True
...               ...      ...  ...                   ...            ...
96448            True     True  ...                  True           True
96449            True     True  ...                  True           True
96450            True     True  ...                  True           True
96451            True     True  ...                  True           True
96452            True     True  ...                  True           True

[96453 rows x 12 columns]

In [30]:
df.notnull().sum()

Formatted Date              96453
Summary                     96453
Precip Type                 95936
Temperature (C)             96453
Apparent Temperature (C)    96453
Humidity                    96453
Wind Speed (km/h)           96453
Wind Bearing (degrees)      96453
Visibility (km)             96453
Loud Cover                  96453
Pressure (millibars)        96453
Daily Summary               96453
dtype: int64

In [31]:
df.notnull().sum().sum()

1156919

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [36]:
df[['Wind Speed (km/h)','Summary']].apply(pd.Series.value_counts)

                         Wind Speed (km/h)  Summary
0.0                                 1297.0      NaN
0.0322                                 1.0      NaN
0.0483                                 1.0      NaN
0.0644                                 4.0      NaN
0.08050000000000003                    2.0      NaN
...                                    ...      ...
Windy and Dry                          NaN      1.0
Windy and Foggy                        NaN      4.0
Windy and Mostly Cloudy                NaN     35.0
Windy and Overcast                     NaN     45.0
Windy and Partly Cloudy                NaN     67.0

[2511 rows x 2 columns]

In [39]:
df.describe()

       Temperature (C)  ...  Pressure (millibars)
count     96453.000000  ...          96453.000000
mean         11.932678  ...           1003.235956
std           9.551546  ...            116.969906
min         -21.822222  ...              0.000000
25%           4.688889  ...           1011.900000
50%          12.000000  ...           1016.450000
75%          18.838889  ...           1021.090000
max          39.905556  ...           1046.380000

[8 rows x 8 columns]

In [40]:
df.describe(include=['object'])

                       Formatted Date  ...                      Daily Summary
count                           96453  ...                              96453
unique                          96429  ...                                214
top     2010-08-02 09:00:00.000 +0200  ...  Mostly cloudy throughout the day.
freq                                2  ...                              20085

[4 rows x 4 columns]

In [41]:
df['Summary'] == 'Clear'

0        False
1        False
2        False
3        False
4        False
         ...
96448    False
96449    False
96450    False
96451    False
96452    False
Name: Summary, Length: 96453, dtype: bool

In [43]:
df[df['Summary'] == 'Clear']['Summary'].count()

10890

In [48]:
df[df['Wind Speed (km/h)'] == 4][['Formatted Date', 'Loud Cover', 'Wind Speed (km/h)']]

Empty DataFrame
Columns: [Formatted Date, Loud Cover, Wind Speed (km/h)]
Index: []